@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    background-color: #0F0F10;
    color: #ffffff;
    height: 100%;
}
#app {
    position: relative;
}
.light:hover::before {
    opacity: 1;
}
.light::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.05), transparent 40%);
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
    z-index: -100;
}
@media (max-width: 1024px) {
    .light::before {
        content: none;
    }
}
